ol {
    margin-left: -40px;
    margin-top: -20px;
    list-style-position: inside;
}

p {
    color: red;
}

.note {
    font-size: 20px;
}

#id-selector-demo {
    color: silver;
}

li[value="4"] {
    color: gold;
}

* {
    text-align: center;
    background-color: rgb(182, 248, 182);
    image-resolution: initial;
}

#gold {
    color: darkgoldenrod;
}

img {
    height: 200px;
    width: 200px;
}

